.card {
  cursor: default;
  margin: 0.25em;
  display: inline-block;
  background-size: cover;
  border-radius: 1rem;
  transform-style: preserve-3d;
  border: 0.5em solid black;

  color: black;
  animation: bgpanbr 40s infinite alternate both;
  @keyframes bgpanbr {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 100% 100%;
    }
  }

  &:hover {
    .inner {
      transform: translateZ(5em);
    }
  }

  .inner {
    transition: transform 0.5s;
    width: 17rem;
    height: 25rem;
    overflow: hidden;
    position: relative;

    .title {
      font-size: larger;
      text-transform: uppercase;
      background-image: linear-gradient(to top, #cfd9df80 0%, #e2ebf080 100%);
      border: 0.2rem solid black;
      margin: 0.5rem 0.2rem;
      border-radius: 0.5rem;
      padding: 0.25rem;
    }

    .bio {
      position: absolute;
      background-image: linear-gradient(to top, #cfd9df80 0%, #e2ebf080 100%);
      border: 0.2rem solid black;
      margin: 0.2rem;
      border-radius: 0.5rem;
      bottom: 0.5rem;
      right: 0;
      padding: 0.25rem;
      white-space: pre-line;
    }

    .location {
      font-size: xx-small;
      position: absolute;
      background-image: linear-gradient(to top, #cfd9df80 0%, #e2ebf080 100%);
      border: 0.2rem solid black;
      margin: 0.2rem;
      border-radius: 0.5rem;
      top: 3rem;
      right: 0rem;
      padding: 0.25rem;
    }
  }
}
